/* Search Box */
  
.search-box {
    width: 1200px;
    margin: 0 auto;
    text-align: right;
    position: relative;
    top: 0;
    z-index: 101;
  
    transition: 300ms;
  }
  
  .search-box.active {
    top: 72px;
  }
  
  .search-box input {
    background: #fffffa;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 8px 8px;
  
    font-size: 24px;
    line-height: 42px;
    border: 0;
    padding: 12px 48px;
  }
  
  .search-box input::placeholder {
    color: #b3b3b3;
  }
  

  /* Navigation */
  
  .nav-container {
    background: #fffffa;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    height: 72px;
    margin-top: -65px;
    z-index: 500;
    position: relative;
  }
  
  .wrapper {
    width: 1200px;
    margin: 0 auto;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
  }
  
  nav ul {
    display: flex;
  }
  
  nav .logo {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    color: #021718;
  }
  
  .nav-items li {
    list-style: none;
    margin-right: 100px;
  }
  
  .nav-items li:nth-last-of-type(1) {
    margin: 0;
  }
  
  .nav-items li a {
    color: #021718;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
  }
  /* Search & Close Buttons  */
  
  .nav-btn-container {
    display: flex;
    position: relative;
  }
  
  .nav-btn-container img {
    position: absolute;
  }
  
  .nav-btn-container .close-btn {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-8px);
    transition: 300ms;
  }
  
  .nav-btn-container .search-btn {
    pointer-events: auto;
    transition: 300ms;
  }
  
  .nav-btn-container.active .search-btn {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-8px);
  }
  
  .nav-btn-container.active .close-btn {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }